* {
    margin: 0;
    padding: 0;
    /*preenchimento e borda na largura e altura total do elemento*/
    box-sizing: border-box;
   

}


body {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    /*altura mín do elemento deve ser 100% da altura da janela de visualização*/
    /*min-height: 100vh;*/
    margin: 5rem auto; /*pra deixar o elemento no meio do site*/
    /*max-width: auto;*/
    
}


header {
    background-color: rgb(71, 161, 247);
    color: white;
    border-radius: .4rem;
    padding: 1rem;
    /*margin: 0.62rem;*/
    text-align: center;
    /*box-shadow: 0 0.12rem 0.12rem blue;*/
    box-shadow: 0 0.5rem 0.5rem blue;
    /*width: calc(60% - 12.5rem);*/
    margin-bottom: 0.62rem;
    margin-left: 24rem;
    margin-right: 24rem;


}

/*Tem o container e os quadradinhos*/
main {
    display: flex;
    /*permite aumentar a larg dos elementos dentro do conteiner completando o espaço disponível do eixo principal*/
    flex-grow: 1;
    justify-content: center;
  

}


.div_main {
    background-color: rgb(86, 179, 86);
    border-radius: 0.4rem;
    padding: 1rem;
    margin: 0.62rem;

}

p {
    color: white;
    margin: 0.62rem;
}

/*Container com todos os quadradinhos*/
container {
    background-color: green;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*esticar por todo o eixo transversal*/
    align-items: stretch;
    margin: 0.62rem;
    padding: 1rem;
    width: calc(100% - 12.5rem);
    
   

}

article {
    display: flex;
    /*flex-direction: column;*/
    gap: 0.31rem;

}

/*Cada conjunto de quadrados*/
.div_quadrado {
    /*TERMINAR ESSA PARTE NÃO ESTOU ACERTANDO*/
    background-color: green;
    width: 80%;
    box-shadow: 0 0.5rem 0.5rem green;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
    margin: 0.62rem;  
    
     
 }

 /*Útimo quadrado da main pra ficar invisível*/
.div_invisível {
    /*Mantem o espaço do item mas não mostra no html*/
    /*elemento é renderizado e seu espaço reservado mas o seu conteúdo não é exibido*/
    visibility:hidden;
    
 }


/*Sidebar*/
aside {
    width: 12.5rem;
    border-radius: 0.4rem;
    background-color: rgb(245, 71, 71);
    color: white;
    padding: 1rem;
    margin: 0.62rem;
    /*box-shadow: 0 0.12rem 0.12rem 0 blue;*/
    /*justify-content: flex-end;*/
    /*flex-direction: right;*/
    box-shadow: 0 0.5rem 0.5rem red;
    box-sizing: border-box;

}



footer {
    background-color: rgb(71, 161, 247);
    color: white;
    border-radius: 0.4rem;
    padding: 1rem;
    /*margin: 0.62rem;*/
    text-align: center;
    /*box-shadow: 0 0.12rem 0.12rem blue;*/
    box-shadow: 0 0.5rem 0.5rem blue;
    margin-top: 0.62rem;
    margin-left: 24rem;
    margin-right: 24rem;


    
}

 /*RESPONSIVIDADE CELULAR*/

 @media screen and (max-width: 1115px) {

    header, footer {
       margin: 0.62rem;
       
    }

    .container {
        margin: 0.62rem;
        max-width: auto;

    }

 }

  


























/*Esse trabalho foi feito por Luciene Lima*/